body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.3s, color 0.3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body.dark-mode {
  background-color: #121212;
  color: white;
  gap: 10px;
  
}

.dark-mode .container {
  background-color: #1e1e1e;
  color: white;
  
}
.dark-mode .ch{
  color:aliceblue;
  
}
.dark-mode .table {
  color: white;
 
}

.dark-mode .btn {
  /* background-color: #333; */
  /* background-color: white; */
  border-color: #333;
  border-color: aquamarine;
  border: 3px solid green;
  /* gap: 10px; */

}

.dark-mode .btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  
}

.modal-content {
  /* background-color: #1e1e1e; */
  background-color: #007bff;
}

.modal-header,
.modal-body {
  color: white;
}

.modal-header .btn-close {
  filter: invert(1);
}

.active{
  color: red;
  margin-left: 10px;
  margin-right: 10px;
}
